mixin renderPost(post, isIndex)
	- var silentCategories = ['blaggregator'];

	article.h-entry(itemscope, itemtype='http://schema.org/BlogPosting')
		//- Title
		if post.data.title
			if isIndex
				a(href=baseURL + post.relative.replace('.md', ''))
					h2.p-name= post.data.title
			else
				h1.p-name= post.data.title

		//- Metadata
		- var author = post.data.author;
		- var time = post.data.time;
		- var categories = post.data.categories || [];
		- categories = categories.filter(function(el) { return !silentCategories.includes(el); });
		- var monthName = post.data.time.monthName;
		- var monthStr = post.data.time.monthUrlStr;
		p.post-metadata Published by #[a.p-author.h-card(href='https://strugee.net/', rel='author')= author]
			if post.data.canonical
				|  and cross-posted from 
				a(href=post.data.canonical) here
			|  on 
			time(datetime=post.data.time.moment.format())
				a(href=baseURL+post.data.time.yearStr+'/'+monthStr+'/')= monthName
				|  #{post.data.time.dayOfMonthStr}, 
				a(href=baseURL+post.data.time.yearStr+'/')= post.data.time.yearStr
			if categories.length > 0
				|  in 
				for category, index in categories
					a.p-category(href=baseURL+'category/' + category + '/') #{category}
					if index < categories.length - 2
						| , 
					else if index === categories.length - 2
						|  and 
			//- TODO maybe show exact timestamps if the post is edited on the same day?
			if post.data.edited
				| . Last edited 
				time(datetime=post.data.edited.moment.toISOString(true)) #{post.data.edited.monthName} #{post.data.edited.dayOfMonthStr}, #{post.data.edited.yearStr}
				| .

		//- Post content
		if post.data.like
			p AJ liked #[a(href=post.data.like) a post]
		.e-content
			if (post.data.syndicate || []).includes('indienews')
				p.indienews-note
					em This post also appeared on 
						a.u-syndication(href='https://news.indieweb.org/en') IndieNews
						| .
			!=post.contents.toString()
