extends /src/includes/layout.jade

block head
	if indexType === 'main'
		title Blog - strugee.net
	else if indexType === 'year'
		title Posts from #{year} - strugee.net
	else if indexType === 'month'
		- var monthName = new Date(1970, month).toLocaleString('en-us', {month: 'long'});
		title Posts from #{monthName + ' ' + year} - strugee.net
	else if indexType === 'category'
		title Posts categorized as #{category} - strugee.net

block content
	if indexType === 'main'
		h1 Blog
		p#postsFrom Show only posts from 
			each year in includedYears
				a(href='/blog/' + year + '/')= year
				| 
	else if indexType === 'year'
		h1 Posts from #{year}
		p#postsFrom Show only posts from 
			each month in includedMonths
				- var monthName = new Date(1970, month).toLocaleString('en-us', {month: 'long'});
				- var monthStr = month + 1;
				- monthStr = monthStr < 10 ? '0' + monthStr.toString() : monthStr.toString();
				a(href='/blog/' + year + '/' + monthStr + '/')= monthName
				| 
	else if indexType === 'month'
		- var monthName = new Date(1970, month).toLocaleString('en-us', {month: 'long'});
		h1 Posts from #{monthName + ' ' + year}
	else if indexType === 'category'
		h1 Posts categorized as #{category}

	each post in posts
		article.h-entry(itemscope, itemtype='http://schema.org/BlogPosting')
			a(href='/blog/' + post.relative.replace('.html', ''))
				h2.p-name= post.title
			//-p Published by #[a.p-author.h-card(href='https://strugee.net/', rel='author')= post.author]
			.e-content!= post.contents.toString()
