extends /src/includes/layout.jade

block head
	title Post index - Blog - strugee.net

block content
	if indexType === 'main'
		h1 Blog
		p
			each year in includedYears
				a(href='/blog/' + year + '/')= year
				| 
	else if indexType === 'year'
		h1 Posts from #{year}
		p
			each month in includedMonths
				- var monthStr = month + 1;
				- monthStr = monthStr < 10 ? '0' + monthStr.toString() : monthStr.toString();
				a(href='/blog/' + year + '/' + monthStr + '/')= month
				| 
	else if indexType === 'month'
		h1 Posts from #{month + '/' + year}

	each post in posts
		article.h-entry(itemscope, itemtype='http://schema.org/BlogPosting')
			a(href='/blog/' + post.relative.replace('.html', ''))
				h2.p-name= post.title
			//-p Published by #[a.p-author.h-card(href='https://strugee.net/', rel='author')= post.author]
			.e-content!= post.contents.toString()
